<form (submit)="onlogin(loginform)" #loginform="ngForm" class="login-form">
    <input type="text"
     ngModel name="enteredusername"
     placeholder="Username"
     required
     minlength="1"
     pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
     #enteredusername="ngModel"
    />
    <div *ngIf="enteredusername.invalid && (enteredusername.dirty || enteredusername.touched)">Invalid</div>
    <br>
  
    <input type="password"
    ngModel name="enteredpassword"
    placeholder="Password"
    required
    minlength="1"
    pattern="^([a-zA-Z0-9@*#]{8,15})$"
    #enteredpassword="ngModel"
    />
    <div *ngIf="enteredpassword.invalid && (enteredpassword.dirty || enteredpassword.touched)">Invalid</div>
    <br>
  
    <button type="submit">{{button}}</button>
  </form>
  